
.my-2 {
    margin: 2rem 0;
}

#page-head{
    font-size: 2rem;
    font-weight: 400;
}

#product-form {
    margin: 3rem 0;
}

.combination-section {
    margin: 1rem 0 4rem 0;
}

.combination-warning{
    display: none;
}

.table {
    width: 100%;
}

.product-image{
    width: 150px;
    height: 150px;
}
